#calc{
    
    border: 1px solid black;
    height: 600px;
    width: 20%;
    background-color: rgb(185, 157, 157);
    border-radius: 10px;
    margin: 5% 20% 20% 40%;
}
#input
{
    margin: 10px 10px;
    margin-left: 7%;
    height: 60px;
    width: 80%;
    font-size: 32px;
    text-align: right;
}
#button{
    margin-top: 2%;
    flex-wrap: wrap;
    padding: 10px 10px 10px 40px;

}
.btn
{
    height: 70px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    font-size: 20px;
}
#num
{
    background-color: cornflowerblue;
}